body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 100%;
}

#controls {
    min-width: 250px;
    padding: 20px;
    background-color: whitesmoke;
    overflow-y: auto;
    box-sizing: border-box;
}

#display {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 20px;
}

#bitmapCanvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    border: 1px solid blue;
}

#checkTableContainerContent {
    width: fit-content;
}
.control-group {
    margin-bottom: 5px;
}
